/* ==|====================
 Partials/Modules/Btn

   -------INDEX--------
   #Btn Style
   #Btn list
   ======================= */

/* #Btn style
   ========================================================================== */
.btn {
	background-color: $btn-color;
	color: $white;
}

/* #Btn List
   ========================================================================== */
.btn-delete-all {
	float: right;
	margin-top: 0;
}
