/* ==|====================
 Partials/Modules/Header

   -------INDEX--------
   #Container header
   ======================= */
   
/* #Container header
   ========================================================================== */
.header-container {
	margin-bottom: 30px;
	background-color: $title-color;
	box-shadow: 0 0 6px #5F5F5F;
	background-size: 100%;
}