/* ==|====================
 Partials/Modules/Products

   -------INDEX--------
   #Container Show Product
   ======================= */

/* #Container Show Product
   ========================================================================== */
.product-container {
	height: 451px;
}

.content-information {
	color: #000;
}

.img{
	width: 100%;
}